<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>New achivement</title>

    <script language="javascript" type="text/javascript" src="../static/scripts/jquery-1.11.2.js"></script>
    <script language="javascript" type="text/javascript" src="../static/scripts/common.js"></script>
    <script language="javascript" type="text/javascript" src="../static/scripts/newAchivement.js"></script>
    <script language="javascript" type="text/javascript" src="../static/scripts/dataProvider.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <div class="wrapper">
        <div class="head"></div>
        <div class="body">
             <table style="width:100%">
                 <tr>
                     <td>Title</td>
                     <td><input id="txtTitle" class="text-input-full-width" type="text" value="1"></td>
                 </tr>
                 <tr>
                     <td>Description</td>
                     <td><input id="txtDescription" class="text-input-full-width" type="text"  value="2"></td>
                 </tr>
                 <tr>
                     <td>XTimes</td>
                     <td><input id="txtXTimes" class="text-input-full-width" type="text" value="3"></td>
                 </tr>
             </table>
        </div>
        <div class="foot">
            <div><button class="button1" id="btnNewAchivement">NewAchivement</button></div>
            <div><button class="button1" id="btnCancel">Cancel</button></div>
        </div>
    </div>
</body>
</html>